<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="log_home" value="/Users/yangqintao/yqt/tmp/log/spring-cloud-eureka-7002" />

    <appender name="consoleFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${log_home}/console.log</File>
        <encoder>
           <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%C.%M:%L] %m%n</pattern>
           <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/console.log.%d{yyyy-MM-dd}-%i</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="dailyFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${log_home}/daily.log</File>
	    <encoder>
	       <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%C.%M:%L] %m%n</pattern>
           <charset>UTF-8</charset>
	    </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/daily.log.%d{yyyy-MM-dd}-%i</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="systemFileLog" class="ch.qos.logback.core.FileAppender">
        <Append>true</Append>
        <File>${log_home}/system.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%C.%M:%L] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="errorFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_home}/error.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%C.%M:%L] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${log_home}/error.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%C.%M:%L] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org" level="warn" />
    <logger name="java.sql" level="warn" />
    <logger name="com.alibaba.dubbo" level="info" />
    <logger name="com.gargoylesoftware.htmlunit" level="off" />

    <logger name="DailyLog">
        <appender-ref ref="dailyFileLog" />
    </logger>

    <logger name="SystemLog">
        <appender-ref ref="systemFileLog" />
    </logger>

    <logger name="ErrorLog">
        <appender-ref ref="errorFileLog" />
    </logger>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="consoleFileLog" />
    </root>

</configuration>
